/**
DIMENSIONS 550*350*100 (11*7*2)
**/

/** 
Define box variables 
**/
.box {
  --width: 260px;
  --height: 380px;
  --depth: 140px;
  --topHeight: 120px;

  /* animation: rotateBox 4s infinite alternate; */
  transform: translateY(40px) rotateY(-40deg);
  transition: transform 1s ease;
  position: relative;
  transform-style: preserve-3d;
}

.box:hover {
  cursor: pointer;
  transform: translateY(50px) rotateY(-35deg) scale(1.05);
}

.box:hover .box__face:not(.box__topRight):not(.box__topLeft) {
  outline: 1px solid black;
}

/**
FACES
**/
.box__face {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
}

.box__front, .box__back {
  width: var(--width);
  height: var(--height);
}

.box__left, .box__right {
  width: var(--depth);
  height: var(--height);
}

.box__bottom, .box__top {
  width: var(--width);
  height: var(--depth);
}

.box__topFront, .box__topBack {
  width: var(--width);
  height: var(--depth);
  background-color: #F2F2F2;
}

.box__topLeft, .box__topRight {
  width: var(--depth);
  height: var(--depth);
  background-color: transparent;
  width: 0; 
  height: 0; 
  border-left: calc(var(--depth) / 2) solid transparent;
  border-right: calc(var(--depth) / 2) solid transparent;
  
  border-bottom: var(--depth) solid #F8F8F8;
}

/**
FACES TRANSFORM
**/
.box__left {
  transform: translate(calc(-1 * var(--width) / 2 - var(--depth) / 2), -50%) rotateY(90deg);
}

.box__right {
  transform: translate(calc(var(--width) / 2 - var(--depth) / 2), -50%) rotateY(90deg);
}

.box__front {
  transform: translate3D(-50%, -50%, calc(var(--depth) / 2));
  background-size: contain;
}

.box__back {
  transform: translate3D(-50%, -50%, calc(-1 * var(--depth) / 2));
}

.box__bottom {
  transform: translate(-50%, calc(var(--height) / 2 - var(--depth) / 2)) rotateX(90deg);
}

.box__top {
  transform: translate(-50%, calc(-1 * var(--height) / 2 - var(--depth) / 2)) rotateX(90deg);
}

.box__topFront {
  transform: translate3D(-50%, calc(-1 * var(--height) / 2 - var(--depth)), calc(var(--depth) / 2)) rotateX(30deg);
  transform-origin: bottom;
}

.box__topBack {
  transform: translate3D(-50%, calc(-1 * var(--height) / 2 - var(--depth)), calc(-1 * var(--depth) / 2)) rotateX(-30deg);
  transform-origin: bottom;
}

.box__topLeft {
  transform-origin: bottom;
  transform: translate(calc(-1 * var(--width) / 2 - var(--depth) / 2), calc(-1 * var(--height) / 2 - var(--depth))) rotateY(90deg) rotateX(-31deg);
}

.box__topRight {
  transform-origin: bottom;
  transform: translate(calc(var(--width) / 2 - var(--depth) / 2), calc(-1 * var(--height) / 2 - var(--depth))) rotateY(90deg) rotateX(31deg);
}

/**
HEADER & FOOTER
**/

.box__header, .box__footer {
  padding: 20px;
}
.box__footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

@keyframes rotateBox {
  from {
    transform: rotateX(0deg) rotateY(-40deg);
  }
  to {
    transform: rotateX(0deg) rotateY(40deg);
  }
}

/** 
CANVAS
**/
#defaultCanvas0 {
  top: 0px;
}